*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    color: white;
}

.row {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
}


.black{
    background-color: black;
}

.dark-green{
    background-color: rgb(57, 100, 60);
}

.green{
    background-color: rgb(78, 138, 73);
}

.light-green{
    background-color: rgb(76, 160, 82);
}

.dark-pink{
    background-color: rgb(209, 152, 104);
}

.pink{
    background-color: rgb(251, 190, 127);
}


.dark-red{
    background-color: rgb(132, 22, 11);
}

.red{
    background-color: rgb(179, 30, 15);
}

.light-red{
    background-color: rgb(221, 37, 19);
}