*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 1000px;
    color: white;
}

.row{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
}

.black{
    background-color: black;
}

.b-green{
    background-color: rgb(77, 173, 101);
}

.b-light-green{
    background-color: rgb(87, 185, 150);
}